.about-element h2 {
    font-size: 23px;
	position: relative;
	padding: .2em .3em .1em 1em;
}
.about-element h2::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #9c27b0;
	border-radius: 4px;
}

.about-element p {
    padding-left: 20px;
}

.contactform {
    padding-left: 20px;
    /* border: 1px solid white; */
    /* margin: 0px 20px; */
}

.contactform li {
    list-style: none;
    position: relative;
    padding: 5px 0px;
}

.contactform label {
    position: absolute;
    top: 0;
}

.contactform input {
    width: calc(100% - 90px);
    max-width: 600px;
    border-radius: 2px;
    margin-left: 50px;
    background-color: #424242;

}

.contactform textarea {
    width: calc(100% - 90px);
    max-width: 600px;
    border-radius: 2px;
    margin-left: 50px;
    height: calc( 1.3em * 5 );
    line-height: 1.3;
    background-color: #424242;
}
.btn {
    padding: 5px 0px;
    width: 100%;
    text-align: left;
}
.btn input {
    width: calc(100% - 90px);
    max-width: 200px;
}