/* header */
header {
  width: 100%;
  text-align: center;
  color: var(--base-white);
}

.header-nav {
  width: 100%;
  height: 50px;
  background-color: var(--h-nav-bg);
  position: fixed;
}

.h-nav-list-active {
  color: var(--h-nav-list-active) !important;
  font-size: 18px !important;
}

.m-header-hidden {
  height: 50px !important;
}

/* header logo */
.h-logo {
  width: 100vw;
  height: 50px;
  background-color: var(--h-nav-bg);
  position: absolute;
  z-index: 5000;
}

.h-logo a {
  font-family: 'Questrial','Helvetica Neue',Arial, sans-serif;
  display: block;
  width: 105px;
  height: 50px;
  color: var(--h-nav-list-active);
  position: relative;
}

.h-logo a span:first-child {
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: 25px;
}
.h-logo a span:last-child {
  position: absolute;
  left: 29px;
  top: 24.5px;
  font-size: 19px;
}

/* header nav */
.h-nav-list {
  display: none;
}

/* header humberger */
/* barger menu content */
.barger-menu {
  position: relative;
}
#barger-menu-list {
  position: absolute;
  z-index: 1000;
  top: -250px;
  border-top: 1px solid var(--base-white);
  background-color: var(--h-nav-bg);
  width: 100%;
  transition: all 0.6s;
}
#barger-menu-list.panelactive {
  top: 50px;
}
#barger-menu-list ul li, #barger-menu-list ul li a {
  font-family: 'Questrial','Helvetica Neue',Arial, sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  height: 40px;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}
#barger-menu-list ul li:last-child {
  margin-top: 20px;
}

/* barger menu btn */
#barger-menu-btn {
  position: fixed;
  z-index: 6000;
  top: 4px;
  right: 10px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0,.2);
}
#barger-menu-btn span,
#barger-menu-btn span:before,
#barger-menu-btn span:after {
  position: fixed;
  content: "";
  display: block;
  height: 4px;
  width: 25px;
  border-radius: 3px;
  background-color: var(--base-white);
  position: absolute;
}
#barger-menu-btn span:before {
  bottom: 8px;
}
#barger-menu-btn span:after {
  top: 8px;
}
