.products-wrapper {
    margin-bottom: 10px;
}

.products {
    border: 1px solid white;
    text-align: left;
    padding: 5px;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

#shop-product-name {
    color: white;
}

#shop-product-price {
    color: white;
    font-size: 0.9em;
}

#shop-product-desc {
    text-align: left;
    font-size: 0.9em;
}