.img-sm {
    max-width: 450px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.img-md {
    max-width: 450px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.gallery img {
    max-width: 450px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.activetab {
    color: #9c27b0 !important;
}