:root {
  /*
    --docId-type-place-supplement
    <docId> w
    <Type>
      brdrc=border color
  */
  --w-brdrc-ctt: var(--fc); /* 商品リストの外枠線 */
  --w-bgc: var(--bgc); /* セクション（ページ全体）の背景 */
  --w-bgc-ctt: rgb(148, 148, 148); /* 商品リストの背景 */
  --w-fc: var(--fc); /* 商品リストの説明文フォント */
  --w-fc-h2: var(--ac); /* セクションタイトル */
  --w-fc-buybtn: var(--ac); /* BUYボタンフォント */
  --w-bgc-buybtn: var(--fc); /* BUYボタン背景 */
}


/* section */
section {
  background-color: var(--w-bgc);
  margin-bottom: 15px;
}

.m-sections h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px;
  color: var(--w-fc-h2);
}

.description {
  text-align: center;
  font-size: 18px;
  padding: 15px 0px;
  color: var(--w-fc);
}

/* highlights img-list */
.img-list {
  display: inline-block;
  height: 320px;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
  text-align: center;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.img-list::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.img-list:hover {
  -ms-overflow-style: auto;    /* IE, Edge 対応 */
  scrollbar-width: auto;       /* Firefox 対応 */
}
.img-list::-webkit-scrollbar:hover {  /* Chrome, Safari 対応 */
  display:auto;
}

.img-gallery {
  padding-bottom: 16px;
}

/* Mobile */
@media(max-width: 768px) {
  .img-gallery li {
    border: 1px var(--w-brdrc-ctt) solid;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
  }
  .img-gallery img {
    height: 100%;
    width: auto !important;
    max-width: calc(100vw - 40px);
    max-height: 260px;
  }
  .goods_link {
    display: block;
    height: 260px;
    text-align: center;
    background-color: var(--w-bgc-ctt);
  }
  .img-gallery p {
    max-height: 250px;
    max-width: 400px;
    padding: 5px 25px;
    color: var(--w-fc);
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
  }
}

/* Desktop */
@media(min-width: 769px) {
  .img-gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
  .img-gallery li {
    display: flex;
    width: 700px;
    height: 300px;
    border: 1px var(--w-brdrc-ctt) solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-gallery img {
    height: 100% !important;
    width: auto !important;
    max-width: 350px !important;
  }
  .goods_link {
    display: block;
    height: 300px;
    width: 500px;
    text-align: center;
    background-color: var(--w-bgc-ctt);
    border-radius: 5px;
  }
  .img-gallery p {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;    
    color: var(--w-fc);
    padding-left: 10px;
    float: left;
  }
}

/* span */
#div_goods_list * span {
  display: block;
}
#div_goods_list li {
  position: relative;
}

.price::before { content: "\0a5"; margin-right: 5px; }
.price::after { content: "-"; margin-left: 5px; }

.buy {
  border: 0px;
  border-radius: 5px;
  background-color: var(--w-bgc-buybtn);
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  line-height: 30px;
  color: var(--w-fc-buybtn);
}

